:root{
    --color-grey: #e4dfda;
    --color-darker-grey: #d7d2cd;
    --color-green: #48a9a6;
    --color-brown: #d4b483;
    --color-red: #c1666b;
    --color-blue: #4357ad;
    --var-brown: #863f28;
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-grey);
    color: var(--color-green)
}

header {
    text-align: center;
    background-color: var(--color-darker-grey);
    padding: 1px;
}

footer {
    background-color: var(--color-darker-grey);
    size: 10px;
    height: 20px;
}

.playlist-cards{
    /*margin: 50px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border: 2px solid var(--color-brown);
    margin: 50px;
    padding: 10px;
    border-radius: 5%;
}

.card:hover {
    background-color: rgba(0,0,0,0.1);
}

.playlist-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
    align-items: center;
}

.edit-btn{
    border: 2px solid var(--color-brown);
    padding: 5px
}

.edit-btn:hover{
    background-color: var(--color-red);
    color: var(--color-grey);
}


.playlist-image {
    height: 250px;
    width: 200px;
    border-radius: 5%;
}

.playlist-info {
    display: flex;
    flex-direction: row;
    padding: 20px;
}


.playlist-likes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playlist-likes:hover{
    color: var(--color-red);
}

#playlist-modal {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: var(--color-darker-grey);
    box-shadow: 0 24px 24px rgb(70, 41, 15);
    border-radius: 7%;
    padding: 15px;
}

.playlist-details {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.playlist-details h2 {
    border: 5px solid var(--color-brown);
    padding: 20px;
}

.playlist-details h2:hover {
    background-color: var(--color-red);
    color: var(--color-grey)
}

.modal-playlist-image {
    height: 200px;
    width: 175px;
}

.playlist-details {
    margin: 20px;
}


.song {
    display: flex;
    flex-direction: row;
    margin: 30px;
    outline: 3px solid var(--color-brown);
    border-radius: 5%;
}

.song-data {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px
}

.song-image {
    height: 100px;
    width: 100px;
    margin: 10px;
}
